<header class="header">
<mat-toolbar color="primary">
    <span>Business Card App</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/cards" routerLinkActive="active">Business Cards</a>
        </li>
    </ul>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
</header>